<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Helloworld::helloworld" title="Hello World" module="Magento_Helloworld" sortOrder="51" resource="Magento_Helloworld::helloworld" />
        <add id="Magento_Helloworld::post" title="Posts" module="Magento_Helloworld" sortOrder="10" action="magento_helloworld/post" resource="Magento_Helloworld::post" parent="Magento_Helloworld::helloworld" />
    </menu>
</config>
